.DogCard {
  transition: linear 0.1s;

  ._img-container {
    height: 200px;
    width: auto;
    overflow: hidden;
  }

  ._dog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  ._heart {
    top: 1rem;
    color: var(--bs-secondary);
    opacity: 0.6;

    &._selected {
      opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);

    ._heart {
      color: var(--bs-danger);
      opacity: 1;
    }
  }
}
