@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
._selects-card {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  @include media-breakpoint-down(md) {
    top: 75%;
  }
}

._see-more-card {
  transition: linear 0.1s;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 1px var(--bs-primary) solid;
  }
}

._plus-icon:hover {
  color: darken(#0d6efd, 20%);
}
