@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
._selects-card {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  @include media-breakpoint-down(md) {
    top: 75%;
  }
}
