@import './index.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'styles/bootstrap.scss';

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  width: 100%;
}
